$palette: (
  gray-lightest: #FFFFFF,
  gray-lighter: #FAFAFA,
  gray-light: #F5F5F5,
  gray-medium-light: #EFEFEF,
  gray-medium: #EBEBEB,
  gray-dark: #D9D9D9,
  gray-darker: #7C7E80,
  gray-darkest: #1A1B1C,
  accent-light: #55F5A5,
  accent-dark: #5AD597
);
